.content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
 }
 
 .loadMessage{
     display: flex;
     align-items: center;
     /* background: #f44336; */
     background: teal;
     padding: 0 50px;
     margin: 20px 0 35px 0;
     color: white;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15) ;
     width: 90%;
 
 }
 
 .loadText{
     flex: 1;
     
 }
  @media(max-width:875px) {
      .content{
          flex-direction: column;
          width: 100%;
      }
  }
  title{
      font-size: 50px;
  }
  .button{
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
  }